<?xml version="1.0" encoding="utf-8"?>
<!-- nativephp.json has no taskAffinity key; Android keeps one home task per affinity and would evict one display's home for the other's. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.kevinbatdorf.plugins.launcher.LauncherHomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kevinbatdorf.plugins.launcher.LauncherSecondaryHomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="${applicationId}.launcher.secondary"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SECONDARY_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
